In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pymongo

In [2]:
client = pymongo.MongoClient("mongodb://localhost:27017/")

db = client["clustering_datastreaming"]

collection = db["clusters"]

data = list(collection.find())

In [3]:
df = pd.DataFrame(data)
df.head()

,_id,features,raw_data,cluster_id,true_label,timestamp,User ID,Item ID,Category ID,Behavior type,original_id,processing_counter,last_updated
0,693218147d173847a12ee55d,"[-0.16559116257644108, -0.11964690538855476, 0...","{'User ID': 1, 'Item ID': 2333346, 'Category I...",0,None,2025-12-04 23:24:04.109,None,2333346,2520771,pv,6821f57c18a8dab949e1c783,1,NaT
1,693218147d173847a12ee55e,"[-0.0020278322541235684, -1.7382864406225822, ...","{'User ID': 1, 'Item ID': 2576651, 'Category I...",0,None,2025-12-04 23:24:04.123,None,2576651,149192,pv,6821f57c18a8dab949e1c784,2,2025-12-04 23:24:04.595
2,693218147d173847a12ee55f,"[0.8410868092793651, 1.013734144119667, 0.0, 0...","{'User ID': 1, 'Item ID': 3830808, 'Category I...",0,None,2025-12-04 23:24:04.130,None,3830808,4181361,pv,6821f57c18a8dab949e1c785,3,2025-12-04 23:49:07.138
3,693218147d173847a12ee560,"[1.200592563555581, -0.11991472749528709, 0.0,...","{'User ID': 1, 'Item ID': 4365585, 'Category I...",0,None,2025-12-04 23:24:04.136,None,4365585,2520377,pv,6821f57c18a8dab949e1c786,4,2025-12-04 23:24:09.432
4,693218147d173847a12ee561,"[1.362222928200864, 0.026887129238583156, 0.0,...","{'User ID': 1, 'Item ID': 4606018, 'Category I...",0,None,2025-12-04 23:24:04.141,None,4606018,2735466,pv,6821f57c18a8dab949e1c787,5,2025-12-04 23:24:09.432

In [4]:
df

,_id,features,raw_data,cluster_id,true_label,timestamp,User ID,Item ID,Category ID,Behavior type,original_id,processing_counter,last_updated
0,693218147d173847a12ee55d,"[-0.16559116257644108, -0.11964690538855476, 0...","{'User ID': 1, 'Item ID': 2333346, 'Category I...",0,None,2025-12-04 23:24:04.109,None,2333346,2520771,pv,6821f57c18a8dab949e1c783,1,NaT
1,693218147d173847a12ee55e,"[-0.0020278322541235684, -1.7382864406225822, ...","{'User ID': 1, 'Item ID': 2576651, 'Category I...",0,None,2025-12-04 23:24:04.123,None,2576651,149192,pv,6821f57c18a8dab949e1c784,2,2025-12-04 23:24:04.595
2,693218147d173847a12ee55f,"[0.8410868092793651, 1.013734144119667, 0.0, 0...","{'User ID': 1, 'Item ID': 3830808, 'Category I...",0,None,2025-12-04 23:24:04.130,None,3830808,4181361,pv,6821f57c18a8dab949e1c785,3,2025-12-04 23:49:07.138
3,693218147d173847a12ee560,"[1.200592563555581, -0.11991472749528709, 0.0,...","{'User ID': 1, 'Item ID': 4365585, 'Category I...",0,None,2025-12-04 23:24:04.136,None,4365585,2520377,pv,6821f57c18a8dab949e1c786,4,2025-12-04 23:24:09.432
4,693218147d173847a12ee561,"[1.362222928200864, 0.026887129238583156, 0.0,...","{'User ID': 1, 'Item ID': 4606018, 'Category I...",0,None,2025-12-04 23:24:04.141,None,4606018,2735466,pv,6821f57c18a8dab949e1c787,5,2025-12-04 23:24:09.432
...,...,...,...,...,...,...,...,...,...,...,...,...,...
458995,693d2e32adfba587ddb7f1ca,"[-1.0456904305200805, -0.16230831179540978, 0....","{'User ID': 327863, 'Item ID': 1024050, 'Categ...",4,None,2025-12-13 09:13:22.137,None,1024050,2465336,pv,6821f58918a8dab949e8c876,458996,NaT
458996,693d2e32adfba587ddb7f1cb,"[0.5907707694684029, -0.16230824735108787, 0.0...","{'User ID': 327863, 'Item ID': 3458734, 'Categ...",0,None,2025-12-13 09:13:22.149,None,3458734,2465336,pv,6821f58918a8dab949e8c877,458997,NaT
458997,693d2e32adfba587ddb7f1cc,"[-1.6570333245975106, 0.12456782337523796, 0.0...","{'User ID': 327863, 'Item ID': 114508, 'Catego...",4,None,2025-12-13 09:13:22.159,None,114508,2885642,pv,6821f58918a8dab949e8c878,458998,NaT
458998,693d2e32adfba587ddb7f1cd,"[0.009071101326370618, 0.12456777443755297, 0....","{'User ID': 327863, 'Item ID': 2593295, 'Categ...",0,None,2025-12-13 09:13:22.172,None,2593295,2885642,pv,6821f58918a8dab949e8c879,458999,NaT
458999,693d2e32adfba587ddb7f1ce,"[-1.6849570952472417, 0.1245677254999259, 0.0,...","{'User ID': 327863, 'Item ID': 72961, 'Categor...",4,None,2025-12-13 09:13:22.189,None,72961,2885642,pv,6821f58918a8dab949e8c87a,459000,NaT

In [10]:
db2 = client["clustering_datastreaming"]
collection2 = db2["metrics_archive"]

data2 = list(collection2.find())

In [11]:
df2 = pd.DataFrame(data2)
df2

,_id,total_data,active_clusters,silhouette,davies_bouldin,dunn_index,intra_distance,inter_distance,timestamp,clustering_threshold,fading_factor,stage,pre_merge_clusters,cluster_reduction,silhouette_improvement
0,693218147d173847a12ee5c6,100,8,0.215200,1.072114,0.767798,0.710785,2.407182,2025-12-04 23:24:04.650,0.8,0.0005,post_merge,13.0,5.0,0.024714
1,693218157d173847a12ee62e,200,16,0.074181,2.160493,0.393403,0.888598,2.025148,2025-12-04 23:24:05.221,0.8,0.0005,post_merge,17.0,1.0,0.047164
2,693218157d173847a12ee699,300,15,0.012508,2.131796,0.390248,0.917941,1.999268,2025-12-04 23:24:05.629,0.8,0.0005,post_merge,19.0,4.0,0.009343
3,693218167d173847a12ee705,400,14,0.084618,2.288227,0.384740,0.808786,1.940093,2025-12-04 23:24:06.206,0.8,0.0005,post_merge,19.0,5.0,0.071586
4,693218167d173847a12ee76f,500,16,0.132240,2.268422,0.389609,0.822838,2.014287,2025-12-04 23:24:06.769,0.8,0.0005,post_merge,19.0,3.0,0.016247
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4585,693d2e28adfba587ddb7f032,458600,16,0.272723,0.906640,1.011887,0.532007,2.352648,2025-12-13 09:13:12.207,0.8,0.0005,post_merge,17.0,1.0,0.008038
4586,693d2e29adfba587ddb7f099,458700,16,0.263559,0.921001,1.011887,0.528412,2.339040,2025-12-13 09:13:13.772,0.8,0.0005,no_merge,NaN,NaN,NaN
4587,693d2e2eadfba587ddb7f101,458800,16,0.265958,0.890183,1.187144,0.572502,2.390441,2025-12-13 09:13:18.982,0.8,0.0005,post_merge,17.0,1.0,0.001685
4588,693d2e30adfba587ddb7f168,458900,17,0.262817,0.910358,1.187144,0.584565,2.447878,2025-12-13 09:13:20.753,0.8,0.0005,no_merge,NaN,NaN,NaN
4589,693d2e32adfba587ddb7f1cf,459000,17,0.275044,1.146739,0.670800,0.624649,2.428036,2025-12-13 09:13:22.259,0.8,0.0005,no_merge,NaN,NaN,NaN

In [12]:
df2['active_clusters'].unique()

array([ 8, 16, 15, 14, 17, 18, 20, 21, 22, 13, 19, 23, 12, 10, 11],
      dtype=int64)

In [13]:
df2['active_clusters'].isna().sum()

0

In [14]:
df2[df2['active_clusters'].isna()]

Empty DataFrame
Columns: [_id, total_data, active_clusters, silhouette, davies_bouldin, dunn_index, intra_distance, inter_distance, timestamp, clustering_threshold, fading_factor, stage, pre_merge_clusters, cluster_reduction, silhouette_improvement]
Index: []

In [15]:
# Lihat cluster_id yang terbentuk
print("Unique Clusters:", df['cluster_id'].unique())

Unique Clusters: [ 0 25  2  4  1  6 23 21 10 11  7  3  5 12 14  8  9 16 13 15 17]

In [113]:
print("\nCluster Distribution:")
print(df['cluster_id'].value_counts().sort_index())

Cluster Distribution:
cluster_id
0     1039
1      775
2      984
3      642
4      427
5      148
6       17
8        1
9        2
11      89
13      14
14      78
15      55
16       1
17       5
20       4
24       1
25       8
26      12
28       1
29       1
31       1
32       1
Name: count, dtype: int64

In [114]:
df['cluster_id'].unique()

array([ 0,  1,  2,  3,  4, 14,  5, 15,  8, 11, 17,  6, 20, 24, 31,  9, 26,
       29, 25, 28, 13, 16, 32], dtype=int64)

In [115]:
features = df['features']

In [116]:
features = pd.DataFrame(features)
features

                                               features
0     [0.7226344953590207, 1.4243442533849582, 0.0, ...
1     [-0.5944756807935873, -1.1900148062916889, 0.0...
2     [-0.5773934201471905, 0.9908201953406991, 0.0,...
3     [0.8206139078027194, -1.605144721910594, 0.0, ...
4     [1.1809043176626906, 0.024300570425811296, 0.0...
...                                                 ...
4301  [0.8430948179944064, -0.84599430566259, 0.0, 0...
4302  [0.7691600043330136, -0.8459834105284064, 0.0,...
4303  [-0.9033566166768402, -0.8459725158151506, 0.0...
4304  [0.07847723460071293, -0.4596171715408283, 0.0...
4305  [-0.9033523815445479, -0.8459597303567855, 0.0...

[4306 rows x 1 columns]

In [117]:
# Ekstrak fitur menjadi kolom terpisah
features_df = pd.DataFrame(features['features'].tolist())

# Rename kolom menjadi feature_1, feature_2, ...
features_df.columns = [f'feature_{i+1}' for i in range(features_df.shape[1])]

# Gabungkan jika perlu dengan kolom lain
# final_df = pd.concat([df.drop(columns=['features']), features_df], axis=1)

display(features_df)

      feature_1  feature_2  feature_3  feature_4
0      0.722634   1.424344        0.0   0.995172
1     -0.594476  -1.190015        0.0   0.995201
2     -0.577393   0.990820        0.0   0.995215
3      0.820614  -1.605145        0.0   0.995221
4      1.180904   0.024301        0.0   0.995476
...         ...        ...        ...        ...
4301   0.843095  -0.845994        0.0   0.926999
4302   0.769160  -0.845983        0.0   0.927003
4303  -0.903357  -0.845973        0.0   0.927012
4304   0.078477  -0.459617        0.0   0.927016
4305  -0.903352  -0.845960        0.0   0.927025

[4306 rows x 4 columns]