In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pymongo

In [8]:
client = pymongo.MongoClient("mongodb://localhost:27017/")

db = client["clustering_datastreaming"]

collection = db["clusters"]

data = list(collection.find())

In [9]:
df = pd.DataFrame(data)
df

,_id,features,raw_data,cluster_id,true_label,timestamp,User ID,Item ID,Category ID,Behavior type,original_id,processing_counter,last_updated
0,690f3f3b9548306210519b14,"[0.14666466151600754, 1.4954300133397767, -1.1...","{'User ID': 0, 'Item ID': 1, 'Category ID': -1...",0,None,2025-11-08 13:01:47.356,0,1,-1,pv,6821f62d18a8dab949d03672,1,NaT
1,690f3f3b9548306210519b15,"[0.14666466151600754, -0.6414390542646898, -1....","{'User ID': 0, 'Item ID': 0, 'Category ID': -1...",1,None,2025-11-08 13:01:47.360,0,0,-1,pv,6821f62d18a8dab949d03673,2,NaT
2,690f3f3b9548306210519b16,"[0.14666466151600754, -0.2914935768041515, -1....","{'User ID': 0, 'Item ID': 0, 'Category ID': -1...",1,None,2025-11-08 13:01:47.363,0,0,-1,pv,6821f62d18a8dab949d03674,3,NaT
3,690f3f3b9548306210519b17,"[0.14666466151600754, -0.5884831968776335, -1....","{'User ID': 0, 'Item ID': 0, 'Category ID': -1...",1,None,2025-11-08 13:01:47.368,0,0,-1,pv,6821f62d18a8dab949d03675,4,NaT
4,690f3f3b9548306210519b18,"[0.14666466151600754, 1.080271917019778, -1.13...","{'User ID': 0, 'Item ID': 1, 'Category ID': -1...",0,None,2025-11-08 13:01:47.371,0,1,-1,pv,6821f62d18a8dab949d03676,5,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
61995,690f44a39548306210529cd5,"[0.7962628978020778, 0.40209193568795154, 1.22...","{'User ID': 0, 'Item ID': 0, 'Category ID': 1,...",22,None,2025-11-08 13:24:51.759,0,0,1,pv,6821f62e18a8dab949d1289d,61996,NaT
61996,690f44a39548306210529cd6,"[0.7962628978020778, 1.3782550087725787, 1.229...","{'User ID': 0, 'Item ID': 1, 'Category ID': 1,...",22,None,2025-11-08 13:24:51.777,0,1,1,pv,6821f62e18a8dab949d1289e,61997,NaT
61997,690f44a39548306210529cd7,"[0.7962628978020778, 0.40209193568795154, 1.22...","{'User ID': 0, 'Item ID': 0, 'Category ID': 1,...",22,None,2025-11-08 13:24:51.801,0,0,1,pv,6821f62e18a8dab949d1289f,61998,NaT
61998,690f44a39548306210529cd8,"[0.7962628978020778, 1.5777769548627545, 1.229...","{'User ID': 0, 'Item ID': 1, 'Category ID': 1,...",5,None,2025-11-08 13:24:51.825,0,1,1,pv,6821f62e18a8dab949d128a0,61999,NaT
61999,690f44a39548306210529cd9,"[0.7962628978020778, 1.3782550087725787, 1.229...","{'User ID': 0, 'Item ID': 1, 'Category ID': 1,...",22,None,2025-11-08 13:24:51.862,0,1,1,pv,6821f62e18a8dab949d128a1,62000,NaT

Empty DataFrame
Columns: []
Index: []